/* Global */
@font-face {
    font-family:Myriad Pro;
    src: url(../fonts/MYRIADPRO-REGULAR.OTF);
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url('../fonts/opensans/OpenSans-Light.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url('../fonts/opensans/OpenSans-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans Semi Bold'), local('OpenSans-Semibold'), url('../fonts/opensans/OpenSans-Semibold.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url('../fonts/opensans/OpenSans-Bold.woff') format('woff');
}

html, body, #main, #app {
    min-height: 100%;
}

body {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    color: #717171;
    background: #f1f2f7;
}

a:hover, a:focus {
    text-decoration: none;
    outline: 0;
}

ul {
    padding: 0;
    margin: 0;
}

/* Wizard */
.wizard {
    margin: 1em;
}

.wizard .nav {
    margin-top: 2em;
}

.wizard .tab-content {
    padding: 1em;
}

/* Main block on the right of the sidebar */
.main-block {
    background: #f1f2f7;
}
.main-container ul li {
    list-style: none;
}

/* small screen navbar */
.navbar {
    display: block;
    text-align: center;
}

.main-navbar {
    padding: 6px 0;
    background-color: #303641;
    color: #FFF;
}

.main-navbar a:hover, .main-navbar a:focus {
    color: #FFF;
}

.navbar-brand {
    display: inline-block;
    float: none;
    margin-left: 40px;
    font-size: 22px;
    font-weight: bold;
    color: #FFF;
}

.navbar-default {
    background-color: #FFF;
    background-image: none;
    border-color: #cfd9db;
    box-shadow: none;
}

.sidebar-navbar-collapse {
    padding: 0;
}

.nav-pills > li > a {
    color: #717171;
    border-bottom: 1px solid #DDD;
    border-radius: 0;
    padding: 12px 15px;
}

.nav-pills > li:last-child > a {
    border-bottom: none;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    color: #717171;
    font-weight: bold;
    background: none;
}

.nav-stacked > li + li {
    margin-top: 0;
}

/* Sidebar on the left */
.sidebar {
    background: #2b303a;
    height: 100%;
    min-height: 100%;
    /* Cancel effects of the grid system */
    padding-left: 0;
    padding-right: 0;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    overflow: auto;
    clear: both;
    z-index: 1000;
}

/* Sidebar list of sections (operations, settings, etc.) */
.sidebar-section-list ul {
    list-style: none;
}

.sidebar-section-list li {
    font-size: 14px;
    font-weight: 600;
    border-bottom: 2px solid #343a45;
    color: #afb0b3;
    padding: 14px 0 14px 24px;
    background: #303641;
    transition: 0.4s ease-in-out;
    cursor: pointer;
}

.sidebar-section-list li.active {
    background: #2b303a;
}

.sidebar-section-list li i {
    margin-right: 15px;
}

/* List of banks, list of accounts */
.sidebar-sublist{
    padding: 20px 0 20px 0;
}

/* Lighter portions of the sidebar */
.sidebar-light {
    background: #303641;
}

/* Logo in the sidebar */
.logo {
    padding: 20px 0 20px 20px;
    color: #fff;
}

.logo a {
    color: #fff;
}

.app-title {
    line-height: 1.3em;
    font-size: 22px;
    font-weight: bold;
    margin: 0;
}

/* Bank header */
.sidebar-bank-header {
    border-bottom: 2px solid #343a45;
    font-family: arial;
    font-size: 20px;
    color: #7f8186;
    font-weight: bold;
    text-transform: uppercase;
    list-style-type: none;
    padding: 10px 0 24px 65px;
}
.sidebar-bank-header:before {
    content: " ";
    background: url("../images/bank.png");
    background-size: 100% 100%;
    height: 20px;
    width: 20px;
    position: absolute;
    left: 37px;
}

.banks-accounts-list {
    position: relative;
}

.accounts.dropdown, .accounts.dropup {
    position:static !important;
}

.account-details {
    position: absolute;
    top: 47px;
    left: 80px;
}

.account-details a {
    color: #afb0b3;
    font-size: 14px;
    font-weight: 600;
}

.account-details .amount {
    margin: 0 0 0 10px;
}

.account-details .positive {
    margin: 0 2px;
    color: #00a651;
}

.account-details .negative {
    margin: 0 2px;
    color: #f26c4f;
}

.account-details a .caret, .bank-details a .caret {
   margin-left: 10px;
}

.bank-details {
    min-height: 90px;
    padding: 20px 0 25px 20px;
    position: relative;
}

.bank-details .icon {
    float: left;
    height: 50px;
    width: 50px;
    border-radius: 5%;
    border: 2px solid #fff;
}

.bank-details .bank-name {
    margin-left: 60px;
    position: relative;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
}

.bank-details a {
    color: #fff;
}

.banks ul, .accounts ul {
    margin-bottom: 15px;
}

/* Banks list component and account list component */
.sidebar-list ul li {
    color: #494f59;
    font-size: 30px;
    line-height: 30px;
    margin-left: 40px;
}
.sidebar-list ul li span {
    color: #afb0b3;
    font-size: 14px;
    letter-spacing: 0.5px;
}
.sidebar-list ul li.active {
    color: #08ad3c;
}

/* Operations list component */
/* Wells (panels with amount at the top */
.operation-wells {
    margin-top: 15px;
}

.operation-wells .well {
    color: #fff;
    text-align: right;
    border: none;
}

.well-icon {
    margin-top: 10px;
    border-radius: 100%;
    background-color: rgba(255,255,255,0.2);
    display: inline-block;
    float: left;
    font-size: 30px;
    height: 60px;
    line-height: 60px;
    margin-right: 10px;
    text-align: center;
    width: 60px;
}

.well-title {
    font-size: 16px;
    color: #eee;
}

.well-sub {
    font-size: 12px;
    color: #eee;
}

.operation-amount {
    font-size: 30px;
    font-weight: bold;
    margin-left: 2px;
}

.background-orange {
    background:#f26c4f;
}

.background-green {
    background:#00a651;
}

.background-lightblue {
    background:#00bff3;
}

.background-darkblue {
    background:#0072bc;
}

/* Main panel, with form and operations */
.operation-panel {
    font-size: 14px;
}

.operation-panel .last-sync {
    padding-top: 7px;
    padding-bottom: 6px;
    padding-left: 12px;
}

/*
* WebKit hack: by setting a relative position to the cell, its width will not be
* calculated according to its content, which is wrong if the content is too wide
*/
@media screen and (max-width: 768px) {
    /* The height is smaller in xs-mode */
    .operation-panel .table td
    {
        position: relative;
        height: 41px;
    }
    /* This allows to display the invoice icon correctly in xs-mode*/
    .table .input-group-addon {
        padding: 0px 12px 0px 0px;
    }
}
@media screen and (min-width: 768px) {
    .operation-panel .table td
    {
        position: relative;
        height: 54px;
    }
    .operation-panel .table td > div
    {
        position: relative;
        max-width: 100%;
    }
}

.operation-panel .table td > button, .operation-panel .table td > div > span,
.operation-panel .table td > div > div > span
{
    position: absolute;
    max-width: calc(100% - 20px);
    max-width: -webkit-fill-available;
}

.operation-panel .table td > div > button
{
    position: absolute;
    max-width: 100%;
    max-width: -webkit-fill-available;
}

.operation-panel .table td:nth-child(4) .input-group-addon + div > button {
    /* 52px = .input-group paddings (12+12) + 2 icons max (28px) */
    position: absolute;
    max-width: calc(100% - 38px);
}

.input-group-addon {
    color: #a2a2a2;
}

.clickable {
    cursor: pointer;
}

/* Button to change operation types/categories */

button:focus, input:focus {outline:none !important}

.btn-transparent {
    color: inherit;
    background-color: transparent;
    border-style: none;
}

.btn-transparent:hover {
   color: #333333;
   background-color: #fff;
   border-color: #cccccc;
   border-style: solid;
}

.btn-primary {
    color: #fff;
    background-color: #00b1e1;
    border-color: #00a5d2;
}

.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover {
    color: #fff;
    background-color: #009dc8;
    border-color: #0091b8;
}

.btn-default {
    color: #717171;
    border-color: #cfd9db;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0px;
    right: 0px;
    min-width: 100%;
    min-height: 100%;
    text-align: right;
    cursor: pointer;
    opacity: 0;
    display: block;
}

.form-control {
    border: 1px solid #cfd9db;
    box-shadow: none;
}

.btn-file {
    border-radius: 0;
}

.import-file input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

@media screen and (min-width: 992px) {
    .frequency select {
        width: 270px;
    }

    .import-file {
        width: 400px !important;
    }

    .input-group-money {
        width: 135px;
        padding-left: 10px;
    }
}

.box-transparent {
    color: inherit;
    background-color: transparent;
    border-style: none;
}

/* Text alignement for button labels */
.label-button {
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
    width: 100%;
}

/* Categories section */
.top-panel {
    margin-top: 15px;
}
.top-panel .table tbody>tr>td {
    vertical-align: middle;
}

span.color_block {
    display: inline-block;
    width: 100%;
    height: 100%;
}

/* Budget section */
span.color_block_small {
    display: inline-block;
    width: 0.75em;
    height: 100%;
    margin-right: 5px;
}

.progress.budget {
    margin-bottom: 0;
}

.budget_period_label {
    margin-right: 1em;
}

table.budget td:last-child {
    text-align: center;
}

/* Settings section */
.about p {
    padding: 20px 0 15px 0;
}

.emails .condition {
    padding-right: 10px;
}

.transition-expand {
    transition: all 400ms;
}
.btn-space-right {
    margin-right: 5px;
}
.bank-accounts-list {
    table-layout: fixed;
}
.bank-accounts-list td:first-child {
    width: 10px;
}

/* charts */
.tab-content {
    margin-top: 10px;
}

.panel {
    position: relative;
    border: 1px solid #cfd9db;
    border-radius: 3px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
}

.panel-heading {
    padding: 0px 15px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    margin: -1px -1px 0 -1px;
    border: 1px solid transparent;
}

.panel-default > .panel-heading {
    color: #777;
    background-color: #F1F1F1;
    border-color: #CFD9DB;
    background-image: none;
}

.panel-heading > .panel-title,
.panel-heading > .panel-options {
    display: table-cell;
    vertical-align: middle;
    width: 1%;
    height: 40px;
    float: none !important;
}

.panel-options {
    color: #777;
    text-align: right;
}

.panel-options a {
    color: #777;
}

.panel-options .option-legend {
    font-size: 12px;
    padding-left: 10px;
}

.panel-options .fa {
    font-size: 15px;
    cursor: pointer;
}

.panel .panel-options.option {
    display: inline-block;
    min-height: 34px;
}


.panel-heading > .panel-title.ellipsis,
.panel-heading > .panel-toolbar.ellipsis {
    max-width: 10px;
}

.panel-heading > .panel-title {
    font-size: 14px;
    font-weight: 600;
}

.panel-heading > .panel-title > .icon {
    margin-right: 5px;
}

.panel-heading > .panel-title > a,
.panel-heading > .panel-title > a:hover,
.panel-heading > .panel-title > a:active,
.panel-heading > .panel-title > a:focus {
    text-decoration: none;
}

.table .fa {
    cursor: pointer;
    line-height: 1.42857143;
}

.table .fa-times-circle {
    color: #E55151;
}

.has-feedback label ~ .form-control-feedback.fa {
    top: auto;
    height: 1em;
    bottom: 1em;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 10px;
}

span.fa-star-o:hover:before, span.fa-star-o:hover ~ span.star:before {
    content: "\f005";
    color: #ffd66a;
}

span.fa-star {
    color: #ffd66a;
}

/* Spinnerz gonna spin */
.spinner {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #0055ff;
  background: -moz-linear-gradient(left, #0055ff 10%, rgba(0,85,255, 0) 42%);
  background: -webkit-linear-gradient(left, #0055ff 10%, rgba(0,85,255, 0) 42%);
  background: -o-linear-gradient(left, #0055ff 10%, rgba(0,85,255, 0) 42%);
  background: -ms-linear-gradient(left, #0055ff 10%, rgba(0,85,255, 0) 42%);
  background: linear-gradient(to right, #0055ff 10%, rgba(0,85,255, 0) 42%);
  position: relative;
  -webkit-animation: spin3 1.4s infinite linear;
  animation: spin3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.spinner:before {
  width: 50%;
  height: 50%;
  background: #0055ff;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.spinner:after {
  background: #fff;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes spin3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

ul.bullet li {
    list-style: disc inside;
}
